body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: rgb(163 163 163); /* 改變箭頭顏色 */
}

.ant-carousel .slick-prev:active,
.ant-carousel .slick-next:active {
  color: rgb(82 82 82); /* 改變箭頭 hover 的顏色 */
}

*{
  font-size:24px;
}